@import "tailwindcss";



@layer components{
  .homepage-main{
    @apply sm:w-auto min-w-full flex flex-row bg-gray-100  min-h-screen
  }
}

.fade-in{
  animation: fade-in 700ms ease-out both;
}

@keyframes fade-in{
  from{
    opacity: 0;
    transform: translateY(0.5rem);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.hover-animation-timing{
  transition:0.05s ease-in;
}
